.container {
  display: flex;
  margin: 2vh;
  justify-content: center;
}
.cardWidth {
  min-width: 400px;
  max-width: 400px;
}
.textareaSize {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-width: 400px;
  max-width: 400px;
  min-height: 100px;
  max-height: 100px;
  resize: none;
  margin: 5px;
  font-size: 15px;
}

.button-block {
  width: 100%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.example-header-image {
  background-size: cover;
}
.container {
  display: flex;
  margin: 2vh;
  justify-content: center;
}
