<div class="container">
  <form>
    <mat-card class="cardSize">
      <mat-card-title class="center-justify">Login!</mat-card-title>
      <mat-card-content class="center-content">
        <mat-form-field class="inputSize" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" />
        </mat-form-field>

        <mat-form-field class="inputSize" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" />
        </mat-form-field>

        <mat-card-actions>
          <button mat-flat-button color="primary" class="block-button">
            Login
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
