<form class="container" [formGroup]="loginForm">
  <mat-card class="cardSize">
    <mat-card-title class="center-justify">Login!</mat-card-title>

    <mat-card-content class="center-content">
      <mat-form-field class="inputSize" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          name="email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="inputSize" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          name="password"
          formControlName="password"
        />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="block-button"
        (click)="onClickSubmit()"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
